<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Дневник</title>
    <link rel="stylesheet" href="js/jquery-ui-1.11.4.custom/jquery-ui.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>
    <script src="js/script.js"></script>
</head>
<body>
    <div id="wrap">
        <header class="header">
            <h1>Дневник</h1>
        </header>
        <div id="main">
            <aside class="aside-left">
                <nav class="nav">
                    <a href="#list">Список событий</a>
                    <a href="#event/add">Добавить событие</a>
                    <a href="#place">Где я был</a>
                </nav>
            </aside>
            <section id="content">
            </section>
        </div>
    </div>

    <div id="dialog" title="Удаление события">
        <p>Вы точно хотите удалить это событие?</p>
    </div>



    <script type="text/list_tpl" id="list_tpl">
        <% if (item.length) { %>
            <% if (item.length > 1) { %>
            <div class="block-search-form">
                <input type="text" id="search" placeholder="Введете название события">
            </div>
            <div class="block-sorting">
                <select name="sorting" id="sorting">
                    <option value="">Сортировка</option>
                    <option value="date">По дате</option>
                    <option value="name">По названию</option>
                    <option value="Положительно">Положительно</option>
                    <option value="Отрицательное">Отрицательное</option>
                    <option value="Нейтральное">Нейтральное</option>
                </select>
            </div>
            <% } %>
            <ul class="list-events">
            <% _.each(item, function(item) { %>
                <li data-id="<%= item.id %>">
                    <a href="#" class="delete" title="Удалить">remove</a>
                    <a href="#event/edit/<%= item.id %>" class="edit" title="Редактировать">edit</a>
                    <a href="#event/<%= item.id %>">
                <% if (item.photos !== '') { %>
                        <img src="<%= item.photos %>" alt="" width="" height="">
                <% } %>
                        <span class="name"><%= item.name %></span>
                    </a>
                    <div class="date"><%= new Date(item.date).toLocaleDateString() %></div>
                    <p style="<%= item.textStyle %>"><%= item.text %></p>
                    <p class="related"><%= item.related %></p>
                </li>
            <% }) %>
            </ul>
            <div class="tc">
                <a href="#event/add" class="btn">Добавить событие</a>
            </div>
        <% } else { %>
            <h4>Ваш список пуст!</h4><br>
            <a href="#event/add">Добавить событие</a>
        <% } %>
    </script>

    <script type="text/event_tpl" id="event_tpl">
        <div class="event" data-id="<%= id %>">
            <a href="#" class="delete" title="Удалить">remove</a>
            <a href="#event/edit/<%= id %>" class="edit" title="Редактировать">edit</a>
            <h1><%= name %></h1>
            <p class="date"><%= new Date(date).toLocaleDateString() %></p>
            <p class="description" style="<%= textStyle %>"><%= text %></p>
            <p class="related">Отношение к событию: <%= related %></p>
        <% if (photos !== '') { %>
            <div class="block-photo">
                <img src="<%= photos %>" alt="" width="" height="">
            </div>
        <% } %>
        <% if (video !== '') { %>
            <%= video %>
        <% } %>
            <div id="map"></div>
        </div>
    </script>

    <script type="text/add_tpl" id="add_tpl">
        <div class="general-form">
            <form id="add-event">
                <label class="input-holder">
                    <input type="text" name="nameEvent" value="<%= name %>" placeholder="Название события*">
                </label>

                <div class="input-holder block-styles">
                    <select name="fontSize">
                        <option value="12">12</option>
                        <option value="14">14</option>
                        <option value="16" selected="">16</option>
                        <option value="18">18</option>
                        <option value="20">20</option>
                    </select>
                    <label><input type="checkbox" name="fontWeight" value="bold"><b>B</b></label>
                    <label><input type="checkbox" name="fontStyle" value="italic"><i>I</i></label>
                    <label><input type="checkbox" name="textDecoration" value="underline"><u>U</u></label>
                    <div class="select-color">
                        <a class="color-show">Цвет текста</a>
                        <ul class="drop-down">
                            <li><label><input type="radio" name="color" value="black">black</label></li>
                            <li><label><input type="radio" name="color" value="red">red</label></li>
                            <li><label><input type="radio" name="color" value="green">green</label></li>
                            <li><label><input type="radio" name="color" value="blue">blue</label></li>
                            <li><label><input type="radio" name="color" value="yellow">yellow</label></li>
                        </ul>
                    </div>
                </div>

                <label class="input-holder">
                    <textarea name="description" cols="30" rows="50" placeholder="Описание*" style="<%= textStyle %>"><%= text %></textarea>
                </label>
                <label class="input-holder">
                    <input type="text" name="date" value="<%= date && new Date(date).toLocaleDateString() %>" placeholder="Дата в формате дд.мм.гг*" id="date">
                </label>
                <label class="input-holder">
                    <select name="related" id="related">
                        <option value="Положительно">Положительно</option>
                        <option value="Отрицательное">Отрицательное</option>
                        <option value="Нейтральное">Нейтральное</option>
                    </select>
                </label>
                <label class="input-holder">
                    <input type="text" name="photos" placeholder="Ссылка для фото" value="<%= photos %>">
                </label>
                <label class="input-holder">
                    <input type="text" name="video" placeholder="Ссылка для видео" value="<%= video %>">
                </label>
                <div id="map"></div>
                <p class="errormsg"></p>
                <div class="tc">
                    <input type="submit" name="save" value="Сохранить" class="btn">
                </div>
            </form>
        </div>
    </script>

    <script type="text/place_tpl" id="place_tpl">
        <div id="map" class="all-events"></div>
        <input id="map-search" type="text" placeholder="Поиск событий" class="map-search">
        <a id="full-switch" href="#" class="full-switch" title="Full screen">&times;</a>
    </script>

    <script type="text/infowindow_tpl" id="infomarker_tpl">
        <div class="info-marker">
            <a href="#event/<%= id %>">
                <% if (photos !== '') { %>
                    <img src="<%= photos %>" alt="" width="" height="">
                <% } %>
                <span class="name"><%= name %></span>
            </a>
            <div class="date"><%= new Date(date).toLocaleDateString() %></div>
            <p class="description" style="<%= textStyle %>"><%= text %></p>
            <p class="related"><%= related %></p>
            <a href="#event/<%= id %>">Больше...</a>
        </div>
    </script>

    <script type="text/errorpage_tpl" id="errorpage_tpl">
        <h1>404</h1>
        <h2>Старинца не найдена.</h2>
        <a href="#list">Список событий</a>
    </script>
</body>
</html>